body {
	overflow: hidden;
}

#container {
	-webkit-backface-visibility: hidden;
	transition: transform .025;
}

#radar {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 1;
	transform: scale(1) translate(0%, 0%);

	will-change: transform;
	outline: .1vmin solid transparent;
	-webkit-backface-visibility: hidden;
}

#radar img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	transition: opacity .4s;
}

#smokes, #entities, #flashbangs, #projectiles {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 2;
}

div.dot, div.label {
	position: absolute;
	height: 8vmin;
	width: 8vmin;
	left: -100vw;
	bottom: -100vh;
	display: block;
	background: #f00;
	transform: translate(-50%, 50%);
	transform-origin: 0% 100%;
	border-radius: 100% .2vmin 100% 100%;
	box-shadow: 0 0 1.6vmin .8vmin rgba(0, 0, 0, .2);
	opacity: 1;
	z-index: 15;

	will-change: bottom, left, transform;
	outline: .1vmin solid transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
}

div.dot {
	background-origin: border-box;
	background-clip: content-box, border-box;
	border: 1vmin double transparent;
}

div.dot::before, div.dot::after {
	content: '';
	position: absolute;
	z-index: 14;
	opacity: 0;
	transition: opacity .02s;
}

div.dot::before {
	height: 4vmin;
	width: 4vmin;
	background: radial-gradient(circle at right top, #0000 0 45%, #BE2C2C 0 70%, #0000 0);
	left: -1.3vmin;
	bottom: -1.3vmin;
}

div.dot::after {
	height: 6.6vmin;
	width: 6.6vmin;
	background-image: url('../img/firing.png');
	left: 3.2vmin;
	bottom: 3.6vmin;
	background-size: contain;
	transform: rotate(45deg);
}

div.dot.CT {
	background-image: linear-gradient(45deg, #144662, #3E2112), linear-gradient(45deg, #4d4d4d, #004CB3);
}

div.dot.T {
	background-image: linear-gradient(45deg, #654819, #3E2E12), linear-gradient(45deg, #4d4d4d, #FF5700);
}

div.dot.bomb {
	border-radius: 3vmin 1vmin 3vmin 3vmin;
	background-image: linear-gradient(45deg, #8E621E, #704E19), linear-gradient(45deg, #4d4d4d, #F90);
}

div.dot.active {
	z-index: 16;
	box-shadow: 0 0 0 .2vmin rgba(0, 0, 0, .9), 0 0 0 1vmin rgba(255, 255, 255, .9), 0 0 2.4vmin 1.2vmin rgba(255, 255, 255, .2);
}

div.dot.hurting::before {
	opacity: .8;
}

div.dot.shooting::after {
	opacity: .75;
}

div.dot.flashed {
	box-shadow: 0 0 1.6vmin .8vmin rgba(0, 0, 0, .2), inset 0 0 2vmin 1vmin rgba(255, 255, 255, .8);
}

div.dot.flashed.active {
	box-shadow: 0 0 0 .2vmin rgba(0, 0, 0, .9), 0 0 0 1vmin rgba(255, 255, 255, .9), 0 0 2.4vmin 1.2vmin rgba(255, 255, 255, .2), inset 0 0 2vmin 1vmin rgba(255, 255, 255, .8);
}

div.dot.dead {
	opacity: .4;
	color: transparent;
	text-shadow: none;
	border-radius: 0;
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	z-index: 13;
	filter: none;
	background-image: none;
	height: 6vmin;
	width: 6vmin;
}

div.dot.dead.CT {
	background: #0071b2;
}

div.dot.dead.T {
	background: #ffa800;
}

div.dot > div {
	position: absolute;
	bottom: 1.3vmin;
	left: 1.3vmin;
	width: 3vmin;
	height: 3vmin;
	background: #0000;
	box-shadow: inset 0 0 0 1.5vmin rgba(255,255,255,0);
	box-sizing: border-box;
	border-radius: 60vmin;
}

div.dot.dead > div {
	display: none;
}

div.label {
	background: none;
	text-align: center;
	color: white;
	font-weight: bold;
	box-shadow: none;
	line-height: 8vmin;
	font-size: 4.8vmin;
}

div.label.CT {
	text-shadow: -0.4vmin 0 1.2vmin #007cff;
}

div.label.T {
	text-shadow: -0.4vmin 0 1.2vmin #ff4d04;
}

div.label.active {
	z-index: 16;
	font-size: 5vmin;
}

div.label.dead {
	display: none;
}

#bomb {
	position: absolute;
	background-image: url("../img/bomb-dropped.png");
	background-size: contain;
	height: 2.2vmin;
	width: 2.2vmin;
	bottom: -30%;
	left: -30%;
	transform: translate(-50%, 50%);
	transform-origin: bottom left;
}

#bomb.defused {
	background-image: url("../img/bomb-defused.png");
	filter: drop-shadow(0 0 .4vmin rgba(0, 255, 0, .3));
}

#bomb.planted {
	background-image: url("../img/bomb-planted.png");
	animation: beep 1s infinite;
}

@keyframes beep {
	0% {
		filter: drop-shadow(0 0 0 rgba(255, 0, 0, 1));
		background-color: rgba(255, 0, 0, 0);
	}
	10% {
		filter: drop-shadow(0 0 1vmin rgba(255, 0, 0, 1));
		background-color: rgba(255, 0, 0, 0.2);
	}
	20% {
		filter: drop-shadow(0 0 1.8vmin rgba(255, 0, 0, 0));
		background-color: rgba(255, 0, 0, 0);
	}
}

#smokes > div {
	position: absolute;
	opacity: .8;
	box-sizing: border-box;
	transform-origin: center;
	transform: translate(-50%, 50%);
	transition: opacity .3s;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#smokes > div.CT {
	background-image: url('../img/smoke-ct.png');
}

#smokes > div.T {
	background-image: url('../img/smoke-t.png');
}

#smokes > div.hide {
	opacity: 0;
}

#smokes > div.fading {
	transition: opacity 1.8s;
}

#infernos {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.inferno {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 2;
	transition: opacity .3s;
}

.inferno > div {
	position: absolute;
	opacity: .75;
	box-sizing: border-box;
	transform: translate(-50%, 50%);
	transition: opacity .3s;
	background-image: url('../img/fire.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#flashbangs > div {
	position: absolute;
	opacity: .8;
	background: #FFF;
	box-sizing: border-box;
	transform-origin: center;
	border-radius: 100%;
	transform: translate(-50%, 50%);
	clip-path: polygon(15% 8%, 40% 25%, 50% 0%, 60% 25%, 85% 8%, 74% 35%, 100% 36%, 78% 50%, 100% 70%, 72.5% 67%, 77.5% 92.5%, 60% 75%, 50% 100%, 40% 75%, 22.5% 92.5%, 27.5% 67%, 0% 70%, 22% 50%, 0% 36%, 26% 35%);
	box-shadow: inset 0 0 0vmin 1vmin #E2CBCB, inset 0 0 5vmin 0 #FEA130;
	transition: opacity 1s, box-shadow .2s;
}

#flashbangs > div.full {
	opacity: .8;
	box-shadow: inset 0 0 0vmin 1.7vmin #FC9F2D, inset 0 0 5vmin 0 #FEA130;
}

#flashbangs > div.hide {
	opacity: 0;
}

#projectiles > div {
	position: absolute;
	box-sizing: border-box;
	transform-origin: center;
	transform: translate(-50%, 50%);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 4vmin;
	width: 4vmin;
}

#advisory {
	position: absolute;
	width: 14%;
	height: 7%;
	background: #f00;
	border-radius: 3vmin 8vmin 8vmin 3vmin;
	background: linear-gradient(to right, #222, #292929);
	color: #000;
	box-shadow: 0 0 .4vmin .3vmin rgba(255, 255, 255, .05);
	display: none;
}

#advisory::before {
	content: "";
	position: absolute;
	top: 10%;
	left: 7%;
	height: 80%;
	width: 40%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#advisory span {
	position: absolute;
	top: 10%;
	right: 5%;
	height: 80%;
	width: 40%;
	border-radius: 100%;
	box-sizing: border-box;
	box-shadow: 0 0 .4vmin .3v rgba(255, 255, 255, .2) inset;
	background: #000;
	text-align: center;
	color: #000;
	line-height: 5.9vmin;
	font-size: 5vmin;
	font-weight: bold;
}

#advisory.planting::before {
	background-image: url("../img/adv-plant.png");
}

#advisory.planting {
	background: linear-gradient(to right, #AD9A3C, #ECCD37);
	box-shadow: 0 0 .4vmin .3vmin rgba(255,252,0,.2);
}

#advisory.defuse::before {
	background-image: url("../img/adv-defuse.png");
}

#advisory.defuse {
	background: linear-gradient(to right, #39536d, #3a7eb1);
	box-shadow: 0 0 .4vmin .3vmin rgba(0,41,255,.2);
}

#advisory.solesurvivor::before {
	background-image: url("../img/adv-solesurvivor.png");
}

#advisory.solesurvivor {
	background: linear-gradient(to right, #436C39, #40B13A);
	box-shadow: 0 0 .4vmin .3vmin rgba(13,255,0,.2);
}

#advisory.planting span, #advisory.defuse span, #advisory.solesurvivor span {
	color: #fff;
}

#unknownMap {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
	justify-content: center;
	align-items: center;
}
