body {
	-webkit-app-region: drag;
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}

body > div {
	color: white;
	height: 100vh;
	width: 100vh;
	max-width: 100vh;
	max-height: 100vw;
	position: relative;
	overflow: hidden;
}
