body {
	-webkit-app-region: drag;
	background: #000;
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}

body > div {
	background: #29232D;
	color: white;
	height: 100vh;
	width: 100vh;
	max-width: 100vh;
	max-height: 100vw;
}
