#radar {
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

body > div > div:nth-of-type(1) {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 2;
}

#siteA, #siteB {
	position: absolute;
	background: #f00;
	opacity: .5;
	display: none;
}

div.player {
	position: absolute;
	height: 16px;
	width: 16px;
	background: #f00;
	transform: translate(-8px, -8px);
	text-align: center;
	line-height: 16px;
	border-radius: 100%;
	color: black;
	font-weight: bold;
	text-shadow: 0px 0px 4px rgba(255,255,255,.2);
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .2);
	font-size: 14px;
	opacity: 1;
	z-index: 15;
}

div.player.dead {
	opacity: .4;
	color: transparent;
	text-shadow: none;
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	z-index: 13;
}

div.player.CT {
	background: #5ab8f4;
}

div.player.T {
	background: #f0c941;
}

div.player.bomb {
	border-radius: 2px;
	background: #FF8200;
}

#advisory {
	position: absolute;
	width: 14%;
	height: 7%;
	background: #f00;
	border-radius: 3vh 8vh 8vh 3vh;
	background: linear-gradient(to right, #222, #292929);
	color: #000;
	box-shadow: 0 0 .4vh .3vh rgba(255, 255, 255, .05);
	display: none;
	transition: background .1s, box-shadow .1s;
}

#advisory::before {
	content: "";
	position: absolute;
	top: 10%;
	left: 7%;
	height: 80%;
	width: 40%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#advisory span {
	position: absolute;
	top: 10%;
	right: 5%;
	height: 80%;
	width: 40%;
	border-radius: 100%;
	box-sizing: border-box;
	box-shadow: 0 0 .4vh .3vh rgba(255, 255, 255, .2) inset;
	background: #000;
	text-align: center;
	color: #000;
	line-height: 5.8vh;
	font-weight: bold;
	font-size: 4vh;
}

#advisory.holdingbombA::before {
	background-image: url("../img/adv-bombA.png");
}

#advisory.holdingbombB::before {
	background-image: url("../img/adv-bombB.png");
}

#advisory.holdingbombA, #advisory.holdingbombB {
	background: linear-gradient(to right, #AD9A3C, #ECCD37);
	box-shadow: 0 0 .4vh .3vh rgba(255,252,0,.2);
}

#advisory.defuse::before {
	background-image: url("../img/adv-defuse.png");
}

#advisory.defuse {
	background: linear-gradient(to right, #39536d, #3a7eb1);
	box-shadow: 0 0 .4vh .3vh rgba(0,41,255,.2);
}

#advisory.solesurvivor::before {
	background-image: url("../img/adv-solesurvivor.png");
}

#advisory.solesurvivor {
	background: linear-gradient(to right, #436C39, #40B13A);
	box-shadow: 0 0 .4vh .3vh rgba(13,255,0,.2);
}

#advisory.holdingbombA span, #advisory.holdingbombB span, #advisory.defuse span, #advisory.solesurvivor span {
	color: #fff;
}

#unknownMap {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
	justify-content: center;
	align-items: center;
}
