#radar {
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

body > div > div:nth-of-type(1) {
	position: absolute;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 2;
}

div.player {
	position: absolute;
	height: 16px;
	width: 16px;
	background: #f00;
	transform: translate(-8px, -8px);
	text-align: center;
	line-height: 16px;
	border-radius: 100%;
	color: black;
	font-weight: bold;
	text-shadow: 0px 0px 4px rgba(255,255,255,.2);
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, .2);
	font-size: 14px;
	opacity: 1;
	z-index: 15;
}

div.player.dead {
	opacity: .4;
	color: transparent;
	text-shadow: none;
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	z-index: 13;
}

div.player.CT {
	background: #5ab8f4;
}

div.player.T {
	background: #f0c941;
}

div.player.bomb {
	border-radius: 2px;
	background: #FF8200;
}

#unknownMap {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
	justify-content: center;
	align-items: center;
}
