body > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

img {
	height: 20vh;
	padding-bottom: 5vh;
}

#noconnection {
	font-size: 4vh;
	text-align: center;
	box-sizing: border-box;
	padding: 0 10vh 5vh 10vh;
}
