body {
	background: rgba(0, 0, 0, .24);
}

body > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

img {
	height: 20vmin;
	padding-bottom: 5vmin;
}

#noconnection {
	font-size: 4vmin;
	text-align: center;
	box-sizing: border-box;
	padding: 0 10vmin 5vmin 10vmin;
}

#version {
	position: absolute;
	width: 100%;
	text-align: center;
	color: #636363;
	bottom: 3vmin;
	font-size: 1.6vmin;
	text-transform: uppercase;
}
